.ll_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $header-md-height;
  background-color: $body-bg;
  .ll_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.ll_header_nav {
  display: flex;
  align-items: center;
}
.ll_header_nav__item {
  display: flex;
  align-items: center;
  height: $btn-size-md;
  padding: $grid-base;
  margin-right: $grid-base;
  font-size: rem-calc(20);
  color: $secondary;
  font-weight: $font-weight-700;
  text-decoration: none;
  .ll_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $grid-base;
    .ll_svg_icon {
      fill: $secondary;
    }
  }
}

.ll_header_logo {
  display: flex;
  width: 150px;
  @include center(xy);
  img {
    width: 100%;
    height: auto;
  }
}

.ll_header_call {
  border: none;
  font-size: rem-calc(24);
  font-weight: $font-weight-900;
}