//
// Functions
// =============================================

// == Utils
@function strip-units($value) {
  @return $value / ($value * 0 + 1);
}

// == Calculate rems from a px value
@function rem-calc($px, $base-val: $font-size-base) {
  @if not unitless($px) {
    $px: strip-units($px);
  }
  @if not unitless($base-val) {
    $base-val: strip-units($base-val);
  }
  @return ($px / $base-val) * 1rem;
}

// == Calculate ems from a px value
@function em-calc($px, $base-val: $font-size-base) {
  @if not unitless($px) {
    $px: strip-units($px);
  }
  @if not unitless($base-val) {
    $base-val: strip-units($base-val);
  }
  @return ($px / $base-val) * 1em;
}

// == Change text color based on background color
@function set-text-color($bg-color, $text-color-positive: #000, $text-color-negative: #fff) {
  @if (lightness($bg-color) > 45) {
    @return $text-color-positive;
  } @else {
    @return $text-color-negative;
  }
}
