@use "sass:math";

// == Grid
$grid-base:         8px!default;
$grid-cols:         12 !default;
$grid-gutter:       $grid-base * 2 !default;
$grid-container:    1200px !default;

$grid-xs: 0;
$grid-sm: 576;
$grid-md: 768;
$grid-lg: 992;
$grid-xl: 1200;
$grid-xxl: 1400;
$grid-map: (
  '':     0,
  'sm':   $grid-sm,
  'md':   $grid-md,
  'lg':   $grid-lg,
  'xl':   $grid-xl,
  'xxl':  $grid-xxl
) !default;

// == Size
$small-size:  32px;
$medium-size: 40px;
$large-size:  48px;

// == Grays Colors
$white:    #FFFFFF !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$grays: (
  "100":  $gray-100,
  "200":  $gray-200,
  "300":  $gray-300,
  "400":  $gray-400,
  "500":  $gray-500,
  "600":  $gray-600,
  "700":  $gray-700,
  "800":  $gray-800,
  "900":  $gray-900
) !default;

// == Colors
$red:       #dc3545 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffc107 !default;
$green:     #28a745 !default;
$cyan:      #17a2b8 !default;
$blue:      #007bff !default;

// == Theme Colors
$primary:         #540B0E;
$primary-dark:    #310C0C;
$secondary:       #C0A677;
$secondary-dark:  #A78B63;
$cta:             $secondary;
$cta-dark:        $secondary-dark;
$success:         $green;
$info:            $cyan;
$warning:         $yellow;
$danger:          $red;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  cta: $cta,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger
) !default;

// == Typography
$text-color:            #191308;
$font-size-base:        16px !default;
$font-size-sm:          $font-size-base * .875 !default;
$font-size-lg:          $font-size-base * 1.25 !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$font-family-base:      'Lato', Helvetica, Arial, sans-serif !default;
$font-family-headings:  'Martel', Helvetica, Arial, sans-serif !default;
$font-family-icons:     '' !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$heading-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;

$font-weight: (
  '100': $font-weight-100,
  '300': $font-weight-300,
  '400': $font-weight-400,
  '700': $font-weight-700,
  '900': $font-weight-900
);

$heading-weight-200: 200;
$heading-weight-300: 300;
$heading-weight-400: 400;
$heading-weight-600: 600;
$heading-weight-700: 700;
$heading-weight-800: 800;
$heading-weight-900: 900;

$heading-weight: (
  '200': $heading-weight-200,
  '300': $heading-weight-300,
  '400': $heading-weight-400,
  '600': $heading-weight-600,
  '700': $heading-weight-700,
  '800': $heading-weight-800,
  '900': $heading-weight-900
);

// == Media query breakpoints
$breakpoints: (
  xs: $grid-xs,
  sm: $grid-sm,
  md: $grid-md,
  lg: $grid-lg,
  xl: $grid-xl,
  xxl: $grid-xxl
) !default;

// == Body
$body-bg: #F8F3EC;
$body-color: $text-color;

// == Button
$btn-size-sm: 40px;
$btn-size-md: 48px;
$btn-size-lg: 64px;

// == Header
$header-md-height: $grid-base * 15; //$120px

// == Z-Index
$z-index-header: 10
