.ll_location {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 0 0 $grid-base*15;
}

.ll_location_article {
  position: relative;
  z-index: 1;
  width: calc(100% / 4);
  margin-right: $grid-base*10;
  margin-bottom: -15%;
  padding: $grid-base*5;
  background-color: $body-bg;
  font-size: rem-calc(21);
  header {
    margin-bottom: $grid-base*4;
    line-height: 1.1;
  }
  h3 {
    font-size: rem-calc(52);
    font-weight: $heading-weight-700;
  }
  h4 {
    margin-top: $grid-base*2;
    color: $secondary;
    font-size: rem-calc(24);
  }
}

.ll_location_article__content {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.ll_location_article__footer {
  display: flex;
  align-items: flex-end;
  padding-top: $grid-base*3;
}

.ll_location_map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  > div {
    position: absolute!important;
    top: 0;
    left: 0;
  }
}