.ll_call {
  position: relative;
  padding: 0 0 $grid-base*15;
  font-size: rem-calc(21);
  text-align: center;
  h4 {
    font-size: rem-calc(42);
    font-weight: $heading-weight-600;
  }
  header {

  }
}

.ll_call__content {
  position: relative;
}

.ll_call_phone {
  margin-top: $grid-base*3;
  font-size: rem-calc(24);
  .ll_svg_icon {
    width: 36px;
    height: 36px;
  }
  .ll_btn__icon {

  }
}

.ll_cal__footer {
  padding-top: $grid-base*3;
}