
.ll_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem-calc(16);
  font-weight: $font-weight-700;
  background-color: transparent;
  border: none;
  &--border {
    border: solid 2px transparent;
  }

  &--block {
    width: 100%;
  }
}

.ll_btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  & + span {
    margin-left: $grid-base;
  }
}
.ll_btn--sm {
  height: $btn-size-sm;
  padding: $grid-base;
  font-size: rem-calc(13);
}
.ll_btn--md {
  min-width: $btn-size-md;
  height: $btn-size-md;
  padding: $grid-base;
  font-size: rem-calc(16);
}
.ll_btn--lg {
  height: $btn-size-lg;
  padding: $grid-base*2 $grid-base*3;
  font-size: rem-calc(16);
}

.ll_btn--primary {
  color: $primary;
  &.ll_btn--border {
    border-color: $primary;
  }
  .ll_svg_icon {
    fill: $primary;
  }
}
.ll_btn--secondary {
  color: $secondary;
  &.ll_btn--border {
    border-color: $secondary;
  }
  .ll_svg_icon {
    fill: $secondary;
  }
}
.ll_btn--cta {
  color: $cta;
  &.ll_btn--border {
    border-color: $cta;
  }
  .ll_svg_icon {
    fill: $cta;
  }
}