
.ll_footer_info {
  .ll_container {
    display: flex;
    justify-content: space-between;
    padding: $grid-base*5 0;
  }
}

.ll_footer_article {
  flex-grow: 1;
  flex-basis: 25%;
  font-size: rem-calc(16);
  h5 {
    color: $secondary;
    font-size: rem-calc(21);
    font-family: $font-family-base;
    font-weight: $font-weight-400;
  }
  h6 {
    color: $body-color;
    font-family: $font-family-base;
    font-size: rem-calc(16)
  }
  header {
    margin-bottom: $grid-base*2;
    color: $secondary;
    font-size: rem-calc(21);
    font-weight: $font-weight-400;
  }
}

.ll_footer_article__list {
  list-style: none;
  padding: 0;
  margin: 0;
  & + .ll_footer_article__list {
    margin-top: $grid-base;
  }
  li {
    margin-top: $grid-base/2;
    &:first-child { margin-top: 0; }
  }
  .crs_label {
    b { font-weight: $font-weight-400; }
  }
  .crs_value {
    font-weight: $font-weight-700;
  }
}

.ll_footer_nav {
  display: flex;
  flex-direction: column;
}
.ll_footer_nav__item {
  display: flex;
  align-items: center;
  color: $text-color;
  font-size: rem-calc(16);
  text-decoration: none;
  .ll_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $grid-base;
  }
}