.ll_marker {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100%;
  left: -$grid-base*5;
  padding: $grid-base*2;
  background-color: $body-bg;
  width: 280px;
  &:after {
    position: absolute;
    top: 100%;
    left: $grid-base*2 + 8;
    @include triangle(down, 12px, $body-bg);
  }
}

.ll_marker__icon {
  margin-right: $grid-base;
  .ll_svg_icon {
    fill: $secondary;
  }
}

.ll_marker__content {
  color: $primary;
  font-size: rem-calc(16);
  font-weight: $heading-weight-600;
}