.ll_rooms {
  .ll_block_dx {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

// == room
.ll_room {
  position: relative;
}
.ll_room_title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: $grid-base;
  background-color: $body-bg;
  color: $body-color;
  font-size: rem-calc(21);
  h4 {
    color: $body-color;
    font-family: $font-family-base;
    font-weight: $heading-weight-600;
  }
}
.ll_room_gallery {
  position: relative;
  height: 0;
  padding-top: 100%;
}
.ll_room_img_horizontal {
  position: absolute;
  bottom: -50%;
  left: -25%;
  z-index: 2;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }

}
.ll_room_img_vertical {
  position: absolute;
  bottom: -20%;
  right: 0;
  z-index: 1;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.ll_rooms__service {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  width: 70%;
  padding: $grid-base*3 0;
  margin: 0;
  li {
    margin-top: $grid-base;
    flex-grow: 1;
    flex-basis: 50%;
    width: 50%;
    &:first-child {
      margin-top: 0;
    }
  }
}

.ll_rooms__rates {
  text-align: right;
  padding-top: $grid-base*3;
  font-size: rem-calc(14);
  > span {
    display: block;
    margin-bottom: $grid-base;
    color: $secondary;
    font-size: rem-calc(18);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

