.ll_block_gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .ll_gallery_title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: $grid-base;
    background-color: $body-bg;
    color: $body-color;
    font-size: rem-calc(18);
    font-family: $font-family-base;
    font-weight: $heading-weight-600;
    .ll_block_dx & {
      right: 0;
      left: auto;
    }
  }
}

.ll_block_gallery_vertical {
  position: relative;
  z-index: 1;
  width: 100%;
  transform: translate(0%, 0%);
  .ll_gallery_image {
    padding-bottom: 133%;
    height: 0;
  }
  .ll_block_dx & {
    transform: translate(0%, 0%);
  }
}

.ll_block_gallery_horizontal {
  position: relative;
  z-index: 2;
  width: 100%;
  transform: translate(-20%, -50%);
  overflow: hidden;
  .ll_gallery_image {
    padding-bottom: 66.5%;
    height: 0;
  }
  .ll_block_dx & {
    transform: translate(20%, -50%);
  }
}

.ll_gallery_image {
  position: relative;
  img {
    height: 100%;
  }
}
