.ll_footer_social {
  .ll_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $grid-base*5 0;
    border-top: solid 1px $secondary;
  }
}

.ll_footer_social_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}