.ll_about {
  position: relative;
  padding: $grid-base*15 0 0;
}

.ll_about_image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba($secondary, 0.3);
    content: '';
  }
  image {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.ll_about_article {
  position: relative;
  z-index: 2;
  padding: $grid-base*10;
  width: calc(100% / 2);
  margin: -25% 0 0 $grid-base*10;
  background-color: $body-bg;
  font-size: rem-calc(21);
  header {
    margin-bottom: $grid-base*4;
    line-height: 1.1;
  }
  h3 {
    font-size: rem-calc(52);
    font-weight: $heading-weight-700;
  }
  h4 {
    margin-top: $grid-base*2;
    color: $secondary;
    font-size: rem-calc(24);
  }

}

.ll_about_article__content {

}