.ll_badge {
  display: flex;
  align-items: center;

  &--primary {
    color: $primary;
    .ll_svg_icon {
      fill : $primary;
    }
  }
  &--secondary {
    color: $secondary;
    .ll_svg_icon {
      fill : $secondary;
    }
  }
}

.ll_badge__icon {
  display: flex;
  align-items: center;
  justify-items: center;
  & + span {
    margin-left: $grid-base;
  }
}
.ll_badge__text {
  font-size: rem-calc(21);
  font-weight: $font-weight-400;
}

// == list
.ll_badge_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  li {
    margin-top: $grid-base;
    flex-grow: 1;
    flex-basis: 50%;
    width: 50%;
    &:first-child {
      margin-top: 0;
    }
  }
}