.ll_block_article__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  /*.ll_block_sx & {
    align-items: flex-start;
  }
  .ll_block_dx & {
    align-items: flex-end;
  }*/
}