.ll_block_article {
  font-size: rem-calc(21);
  transform: translate(0%, 25%);
  .ll_badge_list {
    width: 70%;
    padding: $grid-base*3 0;
    margin: 0;
  }
}

.ll_block_article__title {
  font-size: $h3-font-size;
  margin-bottom: $grid-base*5;
  span { display: block; }
  h3 {
    font-size: rem-calc(60);
    font-weight: $heading-weight-700;
    line-height: 1.1;
    .ll_subtitle {
      font-size: rem-calc(36);
      font-weight: $heading-weight-300;
      line-height: 1.1;
    }
  }
}

.ll_block_article__content {
  position: relative;
}