.ll_footer_credit {
  display: flex;
  background-color: $primary;
  height: $grid-base*12;
  color: $secondary;
  font-size: rem-calc(14);
  a { color: $secondary; text-decoration: none; }
  .ll_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span {
    b { margin: 0 $grid-base; }
  }

}