.ll_block_price {
  margin-bottom: $grid-base;
  font-size: rem-calc(21);
  line-height: 1.1;
  .ll_from { color: $body-color; }
  .ll_price {
    color: $primary;
    font-size: rem-calc(48);
    font-weight: $heading-weight-600;
  }
}