.ll_intro {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  &--4-3 {
    padding-bottom: 75%;
  }
}
.ll_intro_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(#A67B3B, 0.3);
  color: $body-bg;
  h1 {
    color: $body-bg;
    font-size: rem-calc(60);
    font-family: $font-family-headings;
    font-weight: $heading-weight-700;
  }
  h2 {
    color: $body-bg;
    font-size: rem-calc(60);
    font-family: $font-family-headings;
    font-weight: $heading-weight-300;
  }
}
.ll_intro_figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // img {
  //   @include center(xy);
  //   width: 100%;
  //   height: auto;
  // }
}
