@import "base/fonts";
@import "base/reset";
@import "base/typography";
@import '~swiper/swiper.scss';
@import '~swiper/components/effect-fade/effect-fade';
body {
  font-size: rem-calc($font-size-base);
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-bg;
}
