//
// Mixins | Animation
// ==================================================

@mixin transition-all {
  transition: all 0.5s ease;
}

@mixin transition($name, $duration: 0.5s, $timing-function: ease) {
  transition: $name $duration $timing-function;
}
