//
// Mixins | Grid
// ==================================================

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include mq-min($breakpoint) {

    @if($modifier != '') {
      .ll-offset_#{$modifier}_0 {
        margin-left: 0;
      }
    } @else {
      .ll-offset_0 {
        margin-left: 0;
      }
    }

    @for $i from 1 through $grid-cols {

      @if ($modifier != '') {
        .ll-#{$modifier}_#{$i} {
          flex-basis: (100 / ($grid-cols / $i) ) * 1%;
        }

        .ll-offset_#{$modifier}_#{$i} {
          margin-left: (100 / ($grid-cols / $i) ) * 1%;
        }
      } @else {
        .ll-#{$i} {
          flex-basis: (100 / ($grid-cols / $i) ) * 1%;
        }

        .ll-offset_#{$i} {
          margin-left: (100 / ($grid-cols / $i) ) * 1%;
        }
      }
    }
  }
}
