//
// Mixins | Responsive
// ==================================================

// == Media query min width
@mixin mq-min($breakpoint) {
  @if($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint *1px) {
      @content;
    }
  }
}
