//
// Mixins | Typography
// ==================================================

//== Abstract text
@mixin abstract {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//== Text Rendering
@mixin text-render {
  text-rendering: optimizeLegibility;
}

// == All Headings
@mixin all-headings {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}
