//
// Mixins | Utility
// ==================================================

// == Scroll Vertical
@mixin scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

// == Scroll Horizontal
@mixin scroll-x {
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

// == Appearance none
@mixin appearance-none {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

// == Clearfix
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content:'';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// == Reset List
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


// == Center Vertical/Horizontal
@mixin center($xy: xy, $position: absolute) {

  position: $position;

  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}


// == Triangle
@mixin triangle($direction, $size, $color) {

  content: '';
  display: block;
  position: absolute;
  height: 0; width: 0;

  @if ($direction == 'up'){

    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;

  }
  @else if ($direction == 'down'){

    border-top: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;

  }
  @else if ($direction == 'left'){

    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;

  }
  @else if ($direction == 'right'){

    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;

  }
  @else if ($direction == 'topRight'){

    border-top: 0 solid transparent;
    border-right: $size solid $color;
    border-bottom: $size solid transparent;
    border-left: 0 solid transparent;

  }
  @else if ($direction == 'topLeft'){

    border-top: $size solid $color;
    border-right: $size solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;

  }
  @else if ($direction == 'bottomLeft'){

    border-top: $size solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: $size solid $color;

  }
  @else if ($direction == 'bottomRight'){

    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: $size solid $color;
    border-left: $size solid transparent;

  }
}

// == Focus
@mixin form-control-focus($color: #000) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);

  &:focus {
    border-color: $color;
    outline: 0;
    //box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $color-rgba;
  }
}

// == Placeholder
@mixin placeholder {
  &:-moz-placeholder { @content; } // Firefox 4-18
  &::-moz-placeholder { opacity: 1; @content; } // Firefox 19+
  &:-ms-input-placeholder { @content; } // Internet Explorer 10+
  &::-webkit-input-placeholder { @content; } // Safari and Chrome
}
